body {
    margin:auto;
    font-family:serif;
   /*background-color:azure;*/
    background:url(images/background.jpg) no-repeat center fixed;
    background-size: 1000px 800px;
    background-repeat: no-repeat;
    background-color:#000080;
    color:white;
    text-align: center;
    opacity: 0.9;
}
/* Structure */
p{
    text-align: center;
    color:white;
    text-decoration: none;
    padding: auto;/*area inside the box margin = outside the element*/
    width: 50%;
    margin: auto;   /*center horizontally*/
   background-color: rgba(51, 170, 51, .1);
    border-radius: 100 px;/*takes off the sharp edges*/
    opacity:0.9;
    

}
trophy a{
    margin:auto;
}
/*Typography*/
table{
    text-align: center;
    color:whitesmoke;
    text-decoration: none;
    background:#3a4b4f;
    opacity:0.9;  /* moves text over */
    padding: auto;/*area inside the box margin = outside the element*/
    width: 100%;
    margin: auto;   /*center horizontally*/
    border-radius: 100 px;/*takes off the sharp edges*/

}
a:hover{
   text-transform: uppercase;
}
 ul a{
    color:white;
}
/*navigation*/
#main-nav a{
    text-align: center;
    color:whitesmoke;
    text-decoration: #ff0000;
    background:#3a4b4f;   /* moves text over */
    padding: auto;/*area inside the box margin = outside the element*/
    width: 80%;
    margin: auto;   /*center horizontally*/
    border-radius: 100 px;/*takes off the sharp edges*/

}
h3 {
    text-align: center;
    color:white;
    text-decoration: none;
    padding: auto;/*area inside the box margin = outside the element*/
    width: 80%;
    margin: auto;   /*center horizontally*/
   background-color: #ff0000;
    border-radius: 100 px;/*takes off the sharp edges*/
    opacity: 0.9;

}
h2{
    text-align: center;
    text-decoration: none;
    padding: auto;/*area inside the box margin = outside the element*/
    width: 80%;
    margin: auto;   /*center horizontally*/
    border-radius: 100 px;/*takes off the sharp edges*/
    background-color:#ff0000;
    opacity: 0.9;
}
h1 {
    text-align: center;
    color:white;
    text-decoration: none;
    padding: auto;/*area inside the box margin = outside the element*/
    width: 80%;
    margin: auto;   /*center horizontally*/
   background-color: #ff0000;
    border-radius: 100 px;/*takes off the sharp edges*/
    opacity: 0.9;
}