body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
/* Structure */
#content {
background: #fff;   /* moves text over */
padding: 5px;/*area inside the box margin = outside the element*/
width: 80%;
margin: auto;   /*center horizontally*/
border-radius: 5 px;/*takes off the sharp edges*/

}
/*Typography*/

h1 {
    color:blue
}